body {
    font-family: 'Montserrat', sans-serif;    
}

.navbar {
    background-color: black;
}

h2 {
    color: #fff;
}

p {
    color: #fff;
}

#cabecalho .nav .nav-link.active {
    background-color: #131515;
    color: #fff;
}

.navbar-brand {
    font-size: 35px;
}

#cabecalho .nav .nav-link,
.navbar-brand,
.navbar-brand:hover,
.nav-cardapio .nav-link.active:hover {
    color: #ff0054;
}

.navbar-toggler {
    background-color: #131515;
}

.section-title {
    font-family: 'Grenze', serif;
    font-weight: bold;
    
}

#sobre-o-restaurante, #cardapio {
    background-color: #131515;
}

#fale-conosco, #eventos {
    background-color: #2c0735;
}

.text-colored {
    color: #ff0054;
}

.nav-cardapio .nav-link.active,
#fale-conosco button {
    background-color: #fff;
    color: #ff0054;
}

.nav-cardapio .nav-link:hover {
    color: #fff;
}

.social-links li {
    list-style: none;
    display: inline;
}

.social-links a {
    text-decoration: none;    
}

@media (max-width: 767px) {
    .carousel-item img {
        height: 280px;
    }
}